[submodule "3rd_party/imgui"]
	path = 3rd_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd_party/stb"]
	path = 3rd_party/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd_party/rapidjson"]
	path = 3rd_party/rapidjson
	url = https://github.com/Tencent/rapidjson/
